html {
  background-image: url("http://www.allwhitebackground.com/images/3/3709.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}
h3 {
  color: blue;
}

div.currencyBlock {
  border: 1px solid black;
  text-align: center;
  margin: 10px;
  font-size: 20px;
  justify-content: center;
  float: left;
  border-radius: 5px;
  background: linear-gradient(to bottom right, green, yellow);
  font-weight: bold;
  height: 220px;
  width: 200px;
}

input[type="submit"] {
  padding: 5px 15px;
  background: linear-gradient(to bottom right, yellow, green);
  border: 1px solid black;
  cursor: pointer;
  font-size: 25px;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

input[type="submit"]:hover {
  background: linear-gradient(to bottom right, green, yellow);
  transform: scale(1.2, 1.2);
}

#input-form {
  text-align: center;
  margin: 20px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  background: linear-gradient(to bottom right, green, yellow);
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  margin-left: 20%;
  border: 1px solid black;
}

select {
  font: inherit;
}

#currency-amount {
  font: inherit;
}

div.headerBox {
  border: 2px solid black;
  color: white;
  background: green;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}

div.title {
  font-size: 80px;
  font-weight: bold;
}

img {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 100px;
}

button {
  padding: 5px 15px;
  background: linear-gradient(to bottom right, yellow, green);
  border: 1px solid black;
  cursor: pointer;
  font-size: 15px;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

button:hover {
  background: linear-gradient(to bottom right, green, yellow);
  transform: scale(1.2, 1.2);
}

#bar-chart {
  background: linear-gradient(to bottom right, green, yellow);
  opacity: 0.85;
  border-radius: 15px;
}

div.divChart {
  background: linear-gradient(to bottom right, green, yellow);
  width: 500px;
  height: 500px;
  border-radius: 15px;
  display: flex;
}
